<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Accounts Mgmt WebApp - a CS472 Express.JS Demo</title>
    //- <link rel="stylesheet" href="/static/css/main-styles.css">
</head>
<body>
    <header>
        <nav>
            <ul id="ulNavItems">
                <li>
                    <a id="hyplnkAppBranding" href="/">: : : My Accounts Management WebApp : : : a CS472 Express.JS Demo
                    </a>
                </li>
            </ul>
        </nav>
        <div id="divHeaderRightContent">
            <span style="float: right;">Welcome, Guest</span>
        </div>        
    </header>
    <main>
        <h2 style="display:inline-block;">Welcome to the Accounts WebApp</h2> | 
        <a href="/account/list">Browse Accounts</a> | 
        <a href="/account/new">Add a new Account</a>
        <h2>List of Accounts in the Inventory</h2>
        <section>
            ol 
                for account in accounts
                    li #{account.accountId} - #{account.accountNo} - #{account.customerName} - #{account.accountType}
                    hr
        </section>
    </main>
</body>
</html>
